[submodule "QTSBE"]
	path = QTSBE
	url = https://github.com/simonpotel/QTSBE
[submodule "qtb"]
	path = qtb
	url = https://github.com/smartswap-org/qtb
[submodule "webapp"]
	path = webapp
	url = https://github.com/smartswap-org/webapp
[submodule "aegis"]
	path = aegis
	url = https://github.com/smartswap-org/aegis
